* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", serif;
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

.emoji {
    font-family: "Noto Color Emoji", serif;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #636777;
    margin-right: 5px;
}

#workspaces button.active {
    background-color: #000;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: #11111b;
    color: #11111b;
}

#custom-weather,
#window,
#clock,
#battery,
#network,
#bluetooth,
#custom-temperature,
#custom-memory,
#workspaces,
#backlight {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    /* margin: 3px 0px; */
    margin: 0px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

#custom-memory {
    color: #eba0ac;
}

#custom-temperature {
    border-radius: 10px 0px 0px 10px;
}

#custom-temperature.critical {
    color: #f00;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    border-right: 0px;
}

#network {
    color: #f9e2af;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#battery.warning {
    color: #FFA500;
}

#battery.critical {
    color: #F00;
}
