* {
    bg-col:  #2F3033;
    bg-col-light: #2F3033;
    border-col: #626266;
    selected-col: #2F3033;
    blue: #6573EB;
    fg-col: #D9E0EE;
    fg-col2: #F55467;
    grey: #FAFAFA;
    width: 600;
    border-radius: 12px;
}
